@charset "utf-8";

/*----------------------------------------------------- 공통사용 -----------------------------------------------------*/
/* back btn(login용)*/
.back_lg{position:absolute; display:block; width:40px; height:40px; top:5px; left:5px; padding:0; border:0; -webkit-appearance:none; text-indent:-9999px;}
.back_lg a{display:block; width:40px; height:40px;}
.back_lg a.back_1 {background:url('http://image.bbjang.com/imgs/bbjang/img_login/btn_home.png') center center no-repeat; background-size:40px 40px;}
.back_lg a.back_1:active {position:relative; top:1px;}
.back_lg a.back_1_active {position:relative; top:1px;}
.back_lg a.back_2 {background:url('http://image.bbjang.com/imgs/bbjang/img_login/btn_back_lg.png') center center no-repeat; background-size:17px 14px;}
.back_lg a.back_2:active {background:rgba(0,0,0,0.05) url('http://image.bbjang.com/imgs/bbjang/img_login/btn_back_lg.png') center center no-repeat; background-size:17px 14px;}
.back_lg a.back_2_active {background:rgba(0,0,0,0.05) url('http://image.bbjang.com/imgs/bbjang/img_login/btn_back_lg.png') center center no-repeat; background-size:17px 14px;}
/* back btn(login용)*/

/* header img */
.header_lg img.logo_lg{position:relative; top:56px; margin-left:-14px;}
.header_lg img.img_lg{position:absolute; top:132px; right:7px;}
/* header img */

/* form */
.form_1{position:relative; width:100%; height:auto; margin-bottom:6px; border-bottom:1px solid #d8deea; text-align:left; line-height:30px;}
.form_1 .form_tit{position:absolute; padding:10px 14px 10px 10px; font-size:14px; color:#606060;} /* label */
.form_1 .form_tit2{float:left; width:86px; padding:18px 0 18px 1px; font-size:14px; letter-spacing:-0.5px; color:#40434a;} /* label */
.form_1 .line{position:absolute; left:0; bottom:-1px; width:100%; height:1px; background:#0ca2ed; opacity:0; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;} /* 기본라인설정 */
.form_1 .line_on{opacity:1} /* mouseover 상황 라인설정 */

.form_1 .line_error{position:absolute; left:0; width:100%; height:1px; background:#ff7373;} /* error 상황 라인설정 */
.form_1 .form_tit2 .label_error{color:#ff7373;} /* error 상황 텍스트설정 */

.form_1 .input_info{width:100%; padding-left:87px; box-sizing:border-box;}
.form_1 input{height:42px; margin:3.5px 0; font-size:15px; line-height:30px; color:#5f676b; border:none; outline:none; letter-spacing:-0.5px;}
.form_1 input.input_id{width:100%; padding-left:66px; padding-right:50px; box-sizing:border-box;}
.form_1 input.input_pw{width:100%; padding-left:80px; padding-right:50px; box-sizing:border-box; letter-spacing:2px;}
.form_1 input.input_100{width:100%; padding-right:28px; box-sizing:border-box; letter-spacing:2px;}
.form_1 input.pd_14{letter-spacing:-0.5px; padding-left:14px; padding-right:14px;}
.form_1 input.input_42{width:42%;}
.form_1 input.input_60{width:60%;}
.form_1 input.input_50{width:50%;}
.form_1 input:focus ~ .line{opacity:1;}
.form_1 input:focus ~ .txt_erase{opacity:1;}

.form_1 .txt_erase{position:absolute; width:40px; height:40px; top:4px; right:0; background:url('http://image.bbjang.com/imgs/bbjang/img_login/btn_erase.png') center center no-repeat; background-size:10px 10px; text-indent:-9999px; opacity:0; transition:all 0.5s ease-in-out;}
.form_1 .txt_erase_on{opacity:1;}
.form_1 .txt_erase a{display:block; width:40px; height:40px;}
.form_1 .txt_erase a:active{background:rgba(0,0,0,0.03);}
.form_1 .txt_erase a_active{background:rgba(0,0,0,0.03);}
/* form */
/*----------------------------------------------------- 공통사용 -----------------------------------------------------*/

/*----------------------------------------------------- 로그인페이지 -----------------------------------------------------*/
/* layout */
#wrap_login{position:relative; width:100%; text-align:center;}
.header_lg{postion:relative; width:100%; height:190px; 
background: rgb(1,168,213); /* Old browsers */
background: -moz-linear-gradient(top, rgba(1,168,213,1) 38%, rgba(2,148,201,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(1,168,213,1) 38%,rgba(2,148,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(1,168,213,1) 38%,rgba(2,148,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a8d5', endColorstr='#0294c9',GradientType=0 ); /* IE6-9 */}
.content_lg{position:relative; width:82%; height:auto; margin:6px auto 0 auto;}
/* layout */

/* login form */
.content_lg .lg_btn{position:relative; width:200px; height:auto; margin:14px auto 10px auto;}
.content_lg .lg_btn a{display:block; padding:11px 0; border:1px solid #0ca2ed; border-radius:21px; font-size:15px; color:#0ca2ed;}
.content_lg .lg_btn a:active{position:relative; top:1px;}
.content_lg .lg_btn a_active{position:relative; top:1px;}

.content_lg .lg_menu{position:relative; font-size:14px; line-height:18px; color:#606060;}
.content_lg .lg_menu a{display:inline-block;}
.content_lg .lg_menu a:active{position:relative; background:rgba(0,0,0,0.05);}
.content_lg .lg_menu a_active{position:relative; background:rgba(0,0,0,0.05);}
.content_lg .lg_menu a.menu1{margin-right:10px;}
.content_lg .lg_menu a.menu2{margin-left:10px;}

.content_lg .lg_social{position:relative; width:257px; height:35px; margin:17px auto 0 auto;}
.content_lg .lg_social .sc_txt{position:relative; font-size:12px; letter-spacing:-1px;}
.content_lg .lg_social .sc_line{float:left; padding:7px 0; box-sizing:border-box; color:#888;}
.content_lg .lg_social .nv_lg{float:left; width:50%; height:auto;}
.content_lg .lg_social .nv_lg a{margin-left:7px; padding-left:11px; font-size:14px; color:#565656; line-height:30px; vertical-align:middle; background:url('http://image.bbjang.com/imgs/bbjang/img_login/ico_nv_lg.png') 0% 40% no-repeat; background-size:20px 17px;}
.content_lg .lg_social .nv_lg:active{position:relative; background-color:rgba(0,0,0,0.05);}
.content_lg .lg_social .nv_lg_active{position:relative; background-color:rgba(0,0,0,0.05);}
.content_lg .lg_social .ko_lg{float:right; width:50%; height:30px; margin-left:-4px; text-align:center;}
.content_lg .lg_social .ko_lg a{margin-left:18px; padding-left:24px; font-size:14px; color:#565656; line-height:30px; background:url('http://image.bbjang.com/imgs/bbjang/img_login/ico_ko_lg.png') center left no-repeat; background-size:22px 20px;}
.content_lg .lg_social .ko_lg:active{position:relative; background-color:rgba(0,0,0,0.05);}
.content_lg .lg_social .ko_lg_active{position:relative; background-color:rgba(0,0,0,0.05);}

.content_lg .fr_join{position:relative; width:260px; height:auto; margin:12px auto 0 auto;}
.content_lg .fr_join a{padding:13px 0; margin-bottom:5px; border-radius:22px; background-color:#0ca2ed; font-size:15px; font-weight:bold; color:#fff;}
.content_lg .fr_join a:active{background-color:#0b91d4;}
.content_lg .fr_join span.fr_txt{font-size:13px; color:#324752;}

/* login form */

@media(min-width:360px){
.header_lg{height:200px;} 
.header_lg img.logo_lg{top:66px;}
.header_lg img.img_lg{top:142px;}
.content_lg .form_1{margin-bottom:8px;}		
.content_lg{margin:22px auto 0 auto;}
.content_lg .lg_social{margin:26px auto 0 auto;}
.content_lg .lg_btn{margin:25px auto 10px auto;}
.content_lg .fr_join{margin:16px auto 0 auto;}
}

@media(min-width:375px){
.header_lg{height:220px;} 
.header_lg img.logo_lg{top:78px;}
.header_lg img.img_lg{top:162px;}
.content_lg{margin:16px auto 0 auto;}
}

@media(min-width:414px){
.header_lg{height:245px;} 
.header_lg img.logo_lg{top:92px;}
.header_lg img.img_lg{top:187px;}
.content_lg .form_1{margin-bottom:12px;}		
.content_lg{margin:30px auto 0 auto;}
.content_lg .lg_social{margin:42px auto 0 auto;}
.content_lg .lg_btn{width:190px; margin:28px auto 14px auto;}
.content_lg .lg_btn a{padding:16px 0; border-radius:27px;}
.content_lg .lg_menu{font-size:15px;}
}

@media(min-width:768px){
.header_lg{height:360px;} 
.header_lg img.logo_lg{top:146px;}
.header_lg img.img_lg{top:302px;}
.content_lg .form_1{width:460px; margin:0 auto 20px auto;}		
.content_lg{margin:80px auto 0 auto;}
.content_lg .lg_social{margin:50px auto 0 auto;}
.content_lg .lg_btn{width:250px; margin:46px auto 20px auto;}
.content_lg .lg_btn a{padding:20px 0; border-radius:30px;}
.content_lg .lg_menu{font-size:17px;}
.content_lg .fr_join{width:340px; margin:50px auto 0 auto;}
.content_lg .fr_join a{padding:21px 0; margin-bottom:10px; border-radius:30px;}
}
/*----------------------------------------------------- 로그인페이지 -----------------------------------------------------*/

/*----------------------------------------------------- 회원가입페이지 -----------------------------------------------------*/
/* layout */
#wrap_join{position:relative; text-align:center;}
#wrap_join .tab_jn{position:relative; width:86%; height:auto; top:54px; margin:0 auto; overflow:auto;}
#wrap_join .bbj_logo{position:relative; top:36px;}
#wrap_join .contents_jn{position:relative; width:86%; height:auto; top:60px; margin:0 auto;}
/* layout */

/* tab */
.tab_jn .tab_p{float:left; width:50%; padding:10px 0; font-size:13px; line-height:13px; color:#fff; background:#0ca2ed; border:1px solid #0ca2ed; border-radius:17.5px 0 0 17.5px; box-sizing:border-box;}
/*.tab_jn .tab_p:active{color:#fff; background:#0ca2ed; border:1px solid #0ca2ed; border-radius:17.5px 0 0 17.5px; box-sizing:border-box;}
.tab_jn .tab_p_active{color:#fff; background:#0ca2ed; border:1px solid #0ca2ed; border-radius:17.5px 0 0 17.5px; box-sizing:border-box;}*/
.tab_jn .tab_a{float:right; width:50%;  padding:10px 0; font-size:13px; line-height:13px; color:#5f676b; background:#fff; border:1px solid #0ca2ed; border-radius:0 17.5px 17.5px 0; box-sizing:border-box;}
.tab_jn .tab_a:active{color:#fff; background:#0ca2ed; border:1px solid #0ca2ed; border-radius:0 17.5px 17.5px 0; box-sizing:border-box;}
.tab_jn .tab_a_active{color:#fff; background:#0ca2ed; border:1px solid #0ca2ed; border-radius:0 17.5px 17.5px 0; box-sizing:border-box;}
/* tab */

.ui-input-text{width:100%; display:inline-block;} /* 제이쿼리모바일로 추가생성되는 div */

/* 성별선택 */
.input_info .slct_sex{position:absolute; top:0; right:0; width:37%; padding:10px 0;}
.input_info .slct_sex .sex_male{float:left; text-align:center;}
.input_info .slct_sex .sex_male a{width:50px; padding:8.5px 0; font-size:13px; color:#fff; line-height:13px; letter-spacing:1px; border-radius:15px; background:#5188ff;}
/*.input_info .slct_sex .sex_male a:active{color:#fff; background:#5188ff;}
.input_info .slct_sex .sex_male a_active{color:#fff; background:#5188ff;}*/
.input_info .slct_sex .sex_female{float:right; text-align:center;}
.input_info .slct_sex .sex_female a{width:50px; padding:8.5px 0; font-size:13px; color:#8d96a7; line-height:13px; letter-spacing:1px; border-radius:15px;}
.input_info .slct_sex .sex_female a:active{color:#fff; background:#ff5390;}
.input_info .slct_sex .sex_female a_active{color:#fff; background:#ff5390;}
/* 성별선택 */


.id_test{position:absolute; top:0; right:0; width:72px; padding:10px 0; text-align:center;}
.id_test a{padding:7.5px 0; font-size:13px; color:#6c788f; line-height:13px;}

.form_2{position:relative; padding:0 7%; height:auto; top:53px; background:#f6f7fa; border-top:1px solid #d8deea; border-bottom:1px solid #d8deea; box-sizing:border-box; text-align:left; z-index:2;}
.form_2 input{width:52%; margin:12px 0 10px 0; padding:6px 0 7px 12px; border:1px solid #d8deea; box-sizing:border-box; font-size:15px; line-height:17px; color:#5f676b; outline:none; letter-spacing:-0.5px;}
.form_2 .input_num{position:absolute; top:0; right:7%; width:37%;}
.form_2 .input_num .num_ok{float:left; width:56px; padding:12px 0; text-align:center;}
.form_2 .input_num .num_ok a{padding:7.5px 0; font-size:13px; color:#6c788f; line-height:13px;}
.form_2 .input_num .num_re{float:right; width:56px; padding:12px 0; text-align:center;}
.form_2 .input_num .num_re a{padding:7.5px 0; font-size:13px; color:#6c788f; line-height:13px;}

.chk_wrap{position:absolute; width:100%; height:auto; bottom:70px;}
.chk_wrap .ui-checkbox{display:inline-block;}
.chk_wrap .chk_input {margin:0 auto;}
.chk_wrap .btn_look{position:relative; z-index:10; display:inline-block; padding:0 5px; font-size:14px; font-weight:700;}
.chk_wrap .btn_look:active{color:#0ca2ed;}

.btn_jn{position:absolute; bottom:0; width:100%;}
.btn_jn a{padding:17px 0; font-size:16px; color:#fff; line-height:16px ;background:#0ca2ed;}
.btn_jn a:active{background:#0b91d4;}
.btn_jn a_active{background:#0b91d4;}

@media(min-width:360px){
#wrap_join .bbj_logo{position:relative; top:50px;}
#wrap_join .contents_jn{position:relative; width:86%; height:auto; top:80px; margin:0 auto;}		
.input_info .slct_sex{width:36%;}
.input_info .slct_sex .sex_male a{width:54px;}
.input_info .slct_sex .sex_female a{width:54px;}
.id_test{width:80px;}
.id_test a{padding:7px 0; font-size:14px; line-height:14px;}
.num_test{float:right; width:100px; padding:10px 0; text-align:center;}
.num_test a{padding:7px 0; font-size:14px; line-height:14px;}
.form_2{top:73px;}
.form_2 .input_num{width:37%;}
.form_2 .input_num .num_ok{width:62px;}
.form_2 .input_num .num_re{width:62px;}
.box_agree{bottom:80px;}
}

@media(min-width:375px){
.input_info .slct_sex{width:35%;}
.form_2 .input_num{width:35%;}
}

@media(min-width:414px){
#wrap_join .contents_jn{top:106px;}		
.input_info .slct_sex{width:34%;}
.form_2{top:100px;}
.form_2 .input_num{width:34%;}
}

@media(min-width:768px){
#wrap_join .contents_jn{width:550px; top:200px;}	
.form_1{margin-bottom:10px;}	
.form_1 .form_tit2{float:left; width:95px; padding:18px 0 18px 1px; font-size:14px; letter-spacing:-0.5px; color:#8d96a7;} /* label */
.form_1 .input_info{width:100%; padding-left:96px; box-sizing:border-box;}
.form_1 input{padding:16px 0 17px 0; font-size:15px; line-height:17px; color:#5f676b; border:none; outline:none;}
.input_info .slct_sex{width:25%;}
.form_2{padding:0; top:190px; margin:0 auto; width:550px;}
.form_2 input{margin:12px 0 10px 96px;}
.form_2 .input_num{width:24%; margin-right:-30px;}
}
/*----------------------------------------------------- 회원가입페이지 -----------------------------------------------------*/

/*----------------------------------------------------- 가입완료페이지 -----------------------------------------------------*/
#wrap_jn_c{position:relative; width:100%; text-align:center;}
#wrap_jn_c .content_jn_c{position:relative; width:82%; height:auto; margin:66px auto 0 auto;}

.content_jn_c .join_cpl{position:relative; width:100%; height:130px; margin-bottom:40px;  background:url('http://image.bbjang.com/imgs/bbjang/img_login/img_join_cpl.png') center center no-repeat; background-size:223px 130px; text-indent:-9999px;}
.content_jn_c .ico_go{position:relative; width:260px; height:auto; margin:0 auto;}
.content_jn_c .ico_go a{background:url('http://image.bbjang.com/imgs/bbjang/img_login/ico_go.png') 90% 50% no-repeat; background-size:17px 14px; border:1px solid #0ca2ed; border-radius:21px; font-size:18px; font-weight:bold; color:#0ca2ed; line-height:18px; padding:12.5px 0 11.5px 0;}
.content_jn_c .ico_go a:active{position:relative; top:1px;}
.content_jn_c .ico_go a_active{position:relative; top:1px;}

@media(min-width:360px){
#wrap_jn_c .content_jn_c{margin:80px auto 0 auto;}
.content_jn_c .join_cpl{margin-bottom:50px;}
}

@media(min-width:768px){
#wrap_jn_c  .content_jn_c{margin:160px auto 0 auto;}
}
/*----------------------------------------------------- 가입완료페이지 -----------------------------------------------------*/

/*----------------------------------------------------- 아이디/비밀번호찾기 -----------------------------------------------------*/
#wrap_find_if{position:relative; width:100%; text-align:center;}
.find_form{position:relative; width:82%; height:auto; top:30px; padding-top:20px; margin:0 auto; text-align:left;}
.find_form_pd{padding-top:10px;}
.find_form h2{font-size:16px; color:#0ca2ed; margin-bottom:6px;}
.find_form p.find_txt{font-size:12px; color:#5f676b; letter-spacing:-0.5px; margin-bottom:2px;}

.find_form .form_1{margin-bottom:0;}

.find_form .find_btn{position:relative; width:50%; height:auto; margin:12px auto; text-align:center;}
.find_form .find_btn a{border:1px solid #0ca2ed; border-radius:18px; font-size:15px; color:#0ca2ed; line-height:15px; padding:10px 0 9px 0;}
.find_form .find_btn a:active{position:relative; top:1px;}
.find_form .find_btn a_active{position:relative; top:1px;}
.find_form .c_center{margin-top:18px;}

@media(min-width:360px){
.find_form h2{margin-bottom:10px;}		
.find_form p.find_txt{font-size:14px; margin-bottom:6px;}
.find_form .find_btn{margin:18px auto 22px auto;}
.find_form .c_center{margin-top:24px;}
}

@media(min-width:375px){
.find_form{padding-top:26px;}
.find_form_pd{padding-top:12px;}
.find_form .find_btn{margin:18px auto 22px auto;}
}

@media(min-width:768px){
.find_form{width:550px; top:110px;}
.find_form .form_1{margin-bottom:10px;}
.find_form .find_btn{width:32%; margin:24px auto 40px auto;}
.find_form .find_btn a{border:1px solid #0ca2ed; border-radius:20px; font-size:15px; color:#0ca2ed; line-height:15px; padding:12px 0 11px 0;}
}
/*----------------------------------------------------- 아이디/비밀번호찾기 -----------------------------------------------------*/

input:-moz-placeholder {color:#8d96a7; font-weight:normal; font-size:12px; line-height:15px; letter-spacing:-0.5px;}
::-webkit-input-placeholder {color:#8d96a7; font-weight:normal; font-size:12px; line-height:15px; letter-spacing:-0.5px;}
::-moz-placeholder {color:#8d96a7; font-weight:normal; font-size:12px; line-height:15px; letter-spacing:-0.5px;}
:-ms-input-placeholder {color:#8d96a7; font-weight:normal; font-size:12px; line-height:15px; letter-spacing:-0.5px;}

@media(min-width:360px){
input:-moz-placeholder {font-size:14px; line-height:15px;}
::-webkit-input-placeholder {font-size:14px; line-height:15px;}
::-moz-placeholder {font-size:14px; line-height:15px;}
:-ms-input-placeholder {font-size:14px; line-height:15px;}
}

/*-------------------------------------- 170120 회원가입페이지수정(김다솜) --------------------------------------*/
/* 흰색버튼 */
.btn_grd_white {background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7f5fe), color-stop(0.25, #ffffff)); background:-moz-linear-gradient(top, #f7f5fe 5%, #ffffff 25%); background:-webkit-linear-gradient(top, #f7f5fe 5%, #ffffff 25%); background:-o-linear-gradient(top, #f7f5fe 5%, #ffffff 25%); background:-ms-linear-gradient(top, #f7f5fe 5%, #ffffff 25%); background:linear-gradient(to bottom, #f7f5fe 5%, #ffffff 25%); background-color:#f7f5fe; box-shadow:0px 3px 10px -4px #b3d0f1; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f5fe', endColorstr='#ffffff',GradientType=0); -webkit-box-shadow:0px 3px 10px -4px #b3d0f1; -moz-box-shadow:0px 3px 10px -4px #b3d0f1; border:1px solid #d8deea; border-radius:25px; -webkit-border-radius:25px; -moz-border-radius:25px; -o-border-radius:25px; -ms-border-radius:25px;}
.btn_white {display:inline-block; position:relative; width:60px; height:14px; padding:6px 0; color:#46526c; font-size:14px; font-weight:700; text-decoration:none; text-align:center; line-height:14px; -webkit-tap-highlight-color:rgba(255,255,255,0);}
/* 흰색버튼 액티브 */
.btn_grd_white:active {position:relative; top:1px;}
.btn_grd_white_active {position:relative; top:1px;}

.num_test{position:absolute; top:0; right:0; width:90px; padding:10px 0; text-align:center;}
.num_test a{border:1px solid #d8deea; border-radius:25px; -webkit-border-radius:25px; -moz-border-radius:25px; -o-border-radius:25px; -ms-border-radius:25px;}
.num_test a.btn_num_send{padding:7.5px 0; font-size:13px; color:#6c788f; line-height:13px;}
.num_test a.btn_rdonly{background-color:#eaecf1; -webkit-background-color:#eaecf1; -moz-background-color:#eaecf1; -o-background-color:#eaecf1; -ms-background-color:#eaecf1; font-size:13px; color:#8d96a7; display: none;}
/*-----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------- 170124 소셜로그인데이터수신페이지(김다솜) -----------------------------------------------------*/
.wrap_social_ld{position:absolute; width:100%; height:100%; background:#fff; text-align:center;}
.rcv_lg_data{position:absolute; top:50%; left:50%; margin-top:-99px; margin-left:-116px;}
.rcv_lg_data h2{font-size:26px; margin:18px 0; letter-spacing:-1px; color:#5f676b;}
.rcv_lg_data p{font-size:18px; line-height:32px; letter-spacing:-1px; color:#5f676b;}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------- 170201 로그인용 뒤로가기버튼 및 홈버튼(김다미) -----------------------------------------------------*/
#wrap_login .btn_back{position:absolute; width:40px; height:40px; top:5px; left:5px; padding:0; border:0; -webkit-appearance:none;}
#wrap_login .btn_back a{display:block; width:100%; height:100%; background:url("http://image.bbjang.com/imgs/bbjang/img01/btn_back.png") no-repeat center center; background-size:17px 14px;}
#wrap_login .btn_home{position:absolute; width:40px; height:40px; top:5px; right:5px; padding:0; border:0; -webkit-appearance:none;}
#wrap_login .btn_home a{display:block; width:100%; height:100%; background:url("http://image.bbjang.com/imgs/bbjang/img_login/btn_home.png") center center no-repeat; background-size:40px 40px;}
#wrap_login .btn_home a:active{position:relative; top:1px;}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/